@media ( min-width: 768px ) and ( max-width: 1024px ) {
  section .mockup_wrap {
    height: 45%;
  }

  section .mockup_wrap .left_wrap {
    width: 50%;
  }

  section .mockup_wrap .right_wrap {
    width: 50%;
  }
}
