---
layout: base
---

<h3>Basic</h3>
<ul class="related-posts">
    {% for post in site.categories.basic %}
        {% include components/post-list-item.html post=post %}
	{% endfor %}
</ul>

<h3>String</h3>
<ul class="related-posts">
    {% for post in site.categories.string %}
        {% include components/post-list-item.html post=post %}
	{% endfor %}
</ul>

<h3>Mathematical Formula</h3>
<ul class="related-posts">
    {% for post in site.categories.mathematical_formula %}
        {% include components/post-list-item.html post=post %}
	{% endfor %}
</ul>

<h3>Modulus</h3>
<ul class="related-posts">
    {% for post in site.categories.modulus %}
        {% include components/post-list-item.html post=post %}
	{% endfor %}
</ul>

<h3>ASCII</h3>
<ul class="related-posts">
    {% for post in site.categories.ascii %}
        {% include components/post-list-item.html post=post %}
	{% endfor %}
</ul>

<h3>Class</h3>
<ul class="related-posts">
    {% for post in site.categories.class %}
        {% include components/post-list-item.html post=post %}
	{% endfor %}
</ul>

<h3>Sort</h3>
<ul class="related-posts">
    {% for post in site.categories.sort %}
        {% include components/post-list-item.html post=post %}
	{% endfor %}
</ul>

<h3>Queue</h3>
<ul class="related-posts">
    {% for post in site.categories.queue %}
        {% include components/post-list-item.html post=post %}
	{% endfor %}
</ul>

<h3>Hashmap</h3>
<ul class="related-posts">
    {% for post in site.categories.hashmap %}
        {% include components/post-list-item.html post=post %}
	{% endfor %}
</ul>

<h3>DFS</h3>
<ul class="related-posts">
    {% for post in site.categories.dfs %}
        {% include components/post-list-item.html post=post %}
	{% endfor %}
</ul>

<h3>Greedy</h3>
<ul class="related-posts">
    {% for post in site.categories.greedy %}
        {% include components/post-list-item.html post=post %}
	{% endfor %}
</ul>

<h3>Graph</h3>
<ul class="related-posts">
    {% for post in site.categories.graph %}
        {% include components/post-list-item.html post=post %}
	{% endfor %}
</ul>

<h3>Total</h3>
<ul class="related-posts">
    {% for post in site.categories.coding_test %}
        {% include components/post-list-item.html post=post %}
	{% endfor %}
</ul>