html{ width: 100%; height: 100%; margin: 0; padding: 0; display: block; font-family: "맑은 고딕"; }
body{ width: 100%; height: 100%; margin: 0; padding: 0; position:relative; background: #f5f6f7; letter-spacing: 0em; word-break: keep-all; font-family: "맑은 고딕"; }
div, ul, li, a, img, h1, h2, h3, h4 { margin: 0px; padding: 0px; }

#header { width: 770px; height: 100%; padding: 4% 0 4%; overflow: hidden; position: relative; margin: 0 auto; }
#header a { text-decoration: none; }
#header h1 { font-weight: bold; font-size: 50px; text-align: center; }
.header_logo { width: 240px; height: 44px; color: #ff6600; margin: 0 auto; }

#container { width: 770px; height: 660px; margin: 0 auto; }
.join_content { width: 460px; margin: 0 auto; border-top: 1px solid #dadada; }
.join_form { border: 0; margin: 0; padding: 0; }
.row_group { zoom: 1; margin-bottom: 10px; border: 1px solid #dadada; background: #fff; }
.join_row:first-child { border-top: none; }
.id_btn { margin: 2px; width: 29%; float: left; height: 38px; text-align: center; background-color: #ff6600; color: #f4f4f4; border: 1px solid #FFBB00; font-size: 14px; }
.join_row { padding: 20px 11px 20px 13px; background: #fff; box-sizing: border-box; }
#id_1 { float: left; padding: 20px 11px 20px 13px; background: #fff; box-sizing: border-box; font-size: 15px; position: relative; z-index: 10; width: 70%; height: 41px; border: 1px solid #dadada; background: #fff; }
.join_row { font-size: 15px; position: relative; z-index: 10; width: 100%; height: 41px; border: 1px solid #dadada; background: #fff; }
.join_sex { padding: 8px 15px 8px 15px; vertical-align: middle; display: table; }
.sex { display: block; height: 31px; border: solid 1px #dcdcdc; width: 423px; }
.jender { position: relative; z-index: 10; display: block; float: left; width: 49.75%; height: 31px; text-align: center; }
.jender_line { border-right: solid 1px #dcdcdc; }
.jender label { line-height: 32px; position: absolute; top: 0; left: 0; display: block; width: 100%; height: 31px; cursor: pointer; text-align: center; color: #8e8e8e; background: #fff; }
.join_birth { display: table; padding: 0; }
.birth_ymd { font-size: 15px; display: table-cell; width: 120px; height: 100%; padding: 8px 15px 8px 15px; text-align: center; }
.birth_ymd select { width: 80px; height: 32px; padding-left: 10px; font-size: 15px; color: #4c4c4c; border: 1px solid #dadada; }
.birth_label { color: #8e8e8e; }
.join_tel { width: 100%; height: 32px; vertical-align: middle; display: table; padding: 0; padding-left: 30px; }
.tel_number select { width: 80px; height: 32px; padding-left: 10px; font-size: 15px; color: #4c4c4c; border: 1px solid #dadada; }
.tel_number { width: 80px; height: 32px;  font-size: 15px; color: #8e8e8e; float: left; padding: 8px 0px 8px 0px; margin-left: 0px; }
.tel_label { color: #8e8e8e; float: left; margin-top: 12px; padding-left: 20px; padding-right: 20px; }
.tel_box { width: 80px; height: 28px; font-size: 15px; border: 1px solid #dadada; color: #8e8e8e; background: #fff; text-align: center; }
.join_email { width: 100%; height: 32px; vertical-align: middle; display: table; padding: 0px; }
.email_box { display: table-cell; width: 110px; text-align: center; float: left; padding: 8px 0px 8px 0px; }
.email_id { padding-left: 27px; }
.email_id input { width: 100px; height: 28px; font-size: 15px; border: 1px solid #dadada; color: #4c4c4c; background: #fff; padding-left: 10px; }
.email_box select { width: 120px; height: 32px; padding-left: 10px; font-size: 15px; color: #4c4c4c; border: 1px solid #dadada; margin-left: 25px; }
.email_box_ { color: #8e8e8e; float: left; margin-top: 12px; padding-left: 10px; padding-right: 10px; }
#email_text { width: 110px; height: 28px; font-size: 15px; border: 1px solid #dadada; padding-left: 10px; }
.register_btn input { width: 100%; height: 50px; text-align: center; background-color: #ff6600; color: #f4f4f4; border: 1px solid #f5f6f7; font-size: 15px; }
.cancel_btn { width: 100%; height: 50px; text-align: center; background-color: #dadada; border: 1px solid #f5f6f7; font-size: 12px; }
