@font-face {
    font-family: 'NotoSansCJK_Medium';
    src: url('../../font/NotoSansCJKkr-Medium.otf');
}

.hover font { color: white; text-decoration: none; }
a { -webkit-tap-highlight-color:transparent; }

/* NAVIGATION */
nav {
  position: fixed;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #00000099;
  z-index: 200;
  visibility: hidden;
}

nav font {
  font-family: 'NotoSansCJK_Medium', '';
  color: #bbbbbb;
}

nav .no_wrap font {
  font-size: 10pt;
}

nav .title_wrap font {
  font-size: 12pt;
}

nav .header_wrap {
  width: 100%;
  height: 25%;
}

nav .section_wrap {
  width: 100%;
  height: 50%;
}

nav .nav_wrap {
  width: 50%;
  height: 20%;
}

nav .no_wrap {
  position: relative;
  float: left;
  width: 40%;
  height: 100%;
}

nav .no_wrap font {
  position: absolute;
  bottom: 50%;
  right: 15%;
}

nav .title_wrap {
  position: relative;
  float: left;
  width: 60%;
  height: 100%;
}

nav .title_wrap font {
  position: absolute;
  bottom: 50%;
  left: 15%;
}

nav .footer_wrap {
  position: relative;
  width: 100%;
  height: 25%;
}

nav .footer_wrap img {
  position: absolute;
  max-width: 90%;
  max-height: 90%;
  bottom: 5%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
/* NAVIGATION END */
